<div class="container form-group py-5 forms">
    <div>
        <h6 class="general-query fw-b text-center">GENERAL INQUIRY?</h6>
        <p class="text-center docs-forms-field pt-2">Fill out the form below</p>
        <form>
            <div class="py-2">
                <label class="frst-name">First Name*</label>
                <div class="form-field">
                    <input type="text" name="firstname" class="username-box ">
                </div>
            </div>
            <div class="py-2">
                <label class="frst-name">Last Name*</label>
                <div class="form-field">
                    <input type="text" name="lastname" class="username-box ">
                </div>
            </div>
            <div class="py-3">
                <label class="frst-name">Buisness email*</label>
                <div class="form-field">
                    <input type="email" name="mail" class="username-box ">
                </div>
            </div>
            <div class="py-3">
                <label class="frst-name">Phone*</label>
                <div class="form-field">
                    <input type="number" name="phone" class="username-box ">
                </div>
            </div>
            <div class="py-3">
                <label class="frst-name">Company*</label>
                <div class="form-field">
                    <input type="text" name="company" class="username-box ">
                </div>
            </div>
            <div class="py-3">
                <label class="frst-name">What we can help you to achieve?*</label>
                <div class="form-field">
                    <textarea name="comments" cols="30" rows="10" class="textarea-box "></textarea>
                </div>
            </div>

            <div class="frst-name">
                <button type="button" class="btn submit-btn">Submit</button>
            </div>

        </form>
    </div>
</div>