@import '~@fortawesome/fontawesome-free/css/all.css';

th{
    width: 10%;
    text-align: center;
}
td{
    font-size: 12px;
    text-align: center;
}
.edited-edit-icon{
    color: blue;
    font-size: 20px;
}
.edited-delete-icon{
    color: red;
    font-size: 20px;
}